.animated-banner {
  background-image: url('https://i.ibb.co/hRdv3bW/png-transparent-online-advertising-web-banner-gratis-banner-electronic-advertising-digital-technolog.png');
  height:80vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation: slideIn 2s ease-in-out infinite alternate; */
}

.animated-text {
  animation: fadeIn 2s ease-in-out infinite alternate;
}

@keyframes slideIn {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-10px);
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}